<div class="container">
  <h2>User Management</h2>

  <!-- User List -->
  <button mat-fab color="primary" class="add-btn" (click)="openCreateDialog()">
    <mat-icon>add</mat-icon>
  </button>

  <!-- User Table -->
    <table mat-table [dataSource]="users" class="mat-elevation-z8" *ngIf="users.length > 0">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let user"> {{ user.id }} </td>
      </ng-container>
  
      <ng-container matColumnDef="username">
        <th mat-header-cell *matHeaderCellDef> Username </th>
        <td mat-cell *matCellDef="let user"> {{ user.username }} </td>
      </ng-container>
  
      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef> Email </th>
        <td mat-cell *matCellDef="let user"> {{ user.email }} </td>
      </ng-container>
  
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let user"> {{ user.role }} </td>
      </ng-container>
  
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let user">
          <button mat-button color="primary" (click)="openEditDialog(user)">Edit</button>
          <button mat-button color="warn" (click)="deleteUser(user.id)">Delete</button>
        </td>
      </ng-container>

      <ng-container matColumnDef="is_active">
        <th mat-header-cell *matHeaderCellDef> Active </th>
        <td mat-cell *matCellDef="let user">
          <mat-slide-toggle [checked]="user.is_active" (change)="toggleActive()"></mat-slide-toggle>
        </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  
</div>
