<mat-sidenav-container class="admin-shell" style="height: 100vh;">
  <mat-sidenav mode="side" opened class="admin-sidenav">
    <div class="brand" style="padding: 1rem; font-weight: 700;">Admin</div>
    <mat-nav-list>
      <mat-list-item>
        <a mat-button routerLink="user-management">Users</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button routerLink="product-management">Products</a>
      </mat-list-item>
      <mat-list-item>
        <a mat-button routerLink="transactions">Transactions</a>
      </mat-list-item>

      <mat-list-item>
        <a mat-button routerLink="inventory-management">Inventory</a>
      </mat-list-item>

      <mat-list-item>
        <a mat-button routerLink="settings">Settings</a>
      </mat-list-item>

      <mat-list-item>
        <a mat-button routerLink="logs">Activity Logs</a>
      </mat-list-item>

      <div style="padding: 1rem;">
        <button mat-raised-button color="warn" (click)="onLogout()">Logout</button>
      </div>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content style="padding: 1rem;">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>